<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('新增项目信息')" />
    <th:block th:include="include :: datetimepicker-css" />
    <th:block th:include="include :: bootstrap-fileinput-css" />
</head>
<body class="white-bg">
<div class="wrapper wrapper-content animated fadeInRight ibox-content">
    <form class="form-horizontal m" id="form-contract-add">
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">项目编号：</label>
            <div class="col-sm-8">
                <input name="contractCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label is-required">项目名称：</label>
            <div class="col-sm-8">
                <input name="contractName" class="form-control" type="text" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目类别：</label>
            <div class="col-sm-8">
                <select name="contractType" class="form-control m-b" th:with="type=${@dict.getType('contract_type')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">系统商名称：</label>
            <div class="col-sm-8">
                <input name="sysCompanyName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">收费单位：</label>
            <div class="col-sm-8">
                <input name="chargeUnit" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目状态：</label>
            <div class="col-sm-8">
                <select name="contractStatus" class="form-control m-b" th:with="type=${@dict.getType('contract_status')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理行前置码：</label>
            <div class="col-sm-8">
                <input name="agentCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">代理行名称：</label>
            <div class="col-sm-8">
                <input name="agentBankName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">存款落地行编号：</label>
            <div class="col-sm-8">
                <input name="depositBankCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">存款落地行名称：</label>
            <div class="col-sm-8">
                <input name="depositBankName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营销支行编号：</label>
            <div class="col-sm-8">
                <input name="marketBankCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">营销支行名称：</label>
            <div class="col-sm-8">
                <input name="marketBankName" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">是否开户：</label>
            <div class="col-sm-8">
                <div class="radio-box">
                    <label class="radio-box">
                        <input type="radio" checked="" value="0" name="isopen">是</label>
                    <label class="radio-box">
                        <input type="radio" value="1" name="isopen">否</label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公客户号：</label>
            <div class="col-sm-8">
                <input name="clientCode" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公存款账户：</label>
            <div class="col-sm-8">
                <input name="checkingAccout" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手续费收取方式：</label>
            <div class="col-sm-8">
                <select name="commissionWay" class="form-control m-b" th:with="type=${@dict.getType('commission_way')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">手续费收取比例：</label>
            <div class="col-sm-8">
                <input name="commissionScale" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">单笔手续费限额：</label>
            <div class="col-sm-8">
                <input name="commissionNorm" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">缴费资金划款方式：</label>
            <div class="col-sm-8">
                <select name="fundWay" class="form-control m-b" th:with="type=${@dict.getType('fund_way')}">
                    <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">子项目名称：</label>
            <div class="col-sm-8">
                <input name="contractNameChild" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目上线时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="contractTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目数：</label>
            <div class="col-sm-8">
                <input name="contractCount" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">对公缴费授权时间：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="empowerTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系人：</label>
            <div class="col-sm-8">
                <input name="linkman" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">联系方式：</label>
            <div class="col-sm-8">
                <input name="phone" class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目签署日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="signTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">项目终止日期：</label>
            <div class="col-sm-8">
                <div class="input-group date">
                    <input name="endTime" class="form-control" placeholder="yyyy-MM-dd" type="text">
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">备注：</label>
            <div class="col-sm-8">
                <textarea name="remark" class="form-control"></textarea>
            </div>
        </div>
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label">合同状态：</label>-->
<!--            <div class="col-sm-8">-->
<!--                <div class="radio-box">-->
<!--                    <label class="radio-box">-->
<!--                        <input type="radio" checked="" value="0" name="status">正常</label>-->
<!--                    <label class="radio-box">-->
<!--                        <input type="radio" value="1" name="status">过期</label>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group" hidden>
            <div class="col-sm-8">
                <input name="filePath" id="filePath" class="form-control" type="text">
            </div>
        </div>
    </form>
    <div class="ibox-content">
        <div class="form-group">
            <label class="font-noraml">上传合同文件</label>
            <div class="file-loading">
                <!--多文件上传-->
                <!--                    <input id="fileinput-demo-1" type="file" multiple>-->
                <!--单文件上传-->
                <input id="fileinput-demo-1" type="file">
            </div>
        </div>
    </div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: datetimepicker-js" />
<th:block th:include="include :: bootstrap-fileinput-js" />
<script th:inline="javascript">
    var prefix = ctx + "business/contract"
    $("#form-contract-add").validate({
        focusCleanup: true
    });

    function submitHandler() {
        if ($.validate.form()) {
            $.operate.save(prefix + "/add", $('#form-contract-add').serialize());
        }
    }

    $("input[name='signTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='endTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='contractTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });

    $("input[name='empowerTime']").datetimepicker({
        format: "yyyy-mm-dd",
        minView: "month",
        autoclose: true
    });
    $(document).ready(function () {
        $("#fileinput-demo-1").fileinput({
            'theme': 'explorer-fas',
            uploadUrl: prefix+'/filesUpload',
            overwriteInitial: false,
            initialPreviewAsData: true,
            enctype: 'multipart/form-data'
        });

        $("#fileinput-demo-1").on("fileuploaded", function(event, data, proviewId, index) {
            var response = data.response;
            var filePath=response.url;
            $("#filePath").val(filePath);

        });
        $('#fileinput-demo-1').on('filepreupload', function(event, data, previewId, index) {
            var form = data.form, files = data.files, extra = data.extra,
                response = data.response, reader = data.reader;
        });

    });
</script>
</body>
</html>