<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CommissionMapper">
    
    <resultMap type="Commission" id="CommissionResult">
        <result property="commissionId"    column="commission_id"    />
        <result property="contractCode"    column="contract_code"    />
        <result property="contractName"    column="contract_name"    />
        <result property="isbill"    column="isbill"    />
        <result property="commissionTime"    column="commission_time"    />
        <result property="commissionRemark"    column="commission_remark"    />
        <result property="billTime"    column="bill_time"    />
        <result property="billRemark"    column="bill_remark"    />
        <result property="filePath"    column="file_path"    />
        <result property="receivable"    column="receivable"    />
        <result property="fundsReceived"    column="funds_received"    />
        <result property="fundsSurplus"    column="funds_surplus"    />
        <result property="startTime"    column="start_time"    />
        <result property="endTime"    column="end_time"    />
        <result property="bankNum"    column="bank_num"    />
        <result property="text1"    column="text1"    />
        <result property="text2"    column="text2"    />
    </resultMap>

    <sql id="selectCommissionVo">
        select commission_id, contract_code, contract_name, isbill, commission_time, commission_remark, bill_time, bill_remark, file_path, receivable, funds_received,receivable - funds_received funds_surplus,start_time,end_time,bank_num,text1,text2 from commission
    </sql>

   <!--关联-->
    <select id="selectCommissionList" parameterType="Commission" resultMap="CommissionResult">
        SELECT
        a.commission_id,a.contract_code,a.contract_name,a.isbill,a.commission_time,a.commission_remark,a.bill_time,
        a.bill_remark,a.file_path,b.receivable,b.funds_received,start_time,end_time,bank_num,text1,text2
        FROM
        commission a
        RIGHT JOIN ( SELECT c.contract_code, d.receivable receivable, sum( funds_received ) funds_received, max( create_time ) create_time FROM commission c,BUSSINESS_RECEIVABLE d
        WHERE c.CONTRACT_CODE = d.CONTRACT_CODE
        GROUP BY c.contract_code,d.receivable) b ON a.contract_code = b.contract_code
        AND a.create_time =b.create_time
        <where>
            <if test="contractCode != null  and contractCode != ''"> and a.contract_code like concat(concat('%', #{contractCode}), '%')</if>
            <if test="contractName != null  and contractName != ''"> and a.contract_name like concat(concat('%', #{contractName}), '%')</if>
            <if test="isbill != null  and isbill != ''"> and a.isbill like concat(concat('%', #{isbill}), '%')</if>
            <if test="commissionTime != null "> and a.commission_time like concat(concat('%', #{commissionTime}), '%')</if>
            <if test="billTime != null "> and a.bill_time like concat(concat('%', #{billTime}), '%')</if>
            <if test="params.beginCommissionTime != null and params.beginCommissionTime != ''">
                AND a.commission_time &gt;= to_date(#{params.beginCommissionTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endCommissionTime != null and params.endCommissionTime != ''">
                AND a.commission_time &lt;= to_date(#{params.endCommissionTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.beginBillTime != null and params.beginBillTime != ''">
                AND a.bill_time &gt;= to_date(#{params.beginBillTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endBillTime != null and params.endBillTime != ''">
                AND a.bill_time &lt;= to_date(#{params.endBillTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
        order by a.create_time desc
    </select>

    <select id="selectCommissionInfoList" parameterType="Commission" resultMap="CommissionResult">
        SELECT
        a.commission_id,
        a.contract_code,
        a.contract_name,
        a.isbill,
        a.commission_time,
        a.commission_remark,
        a.bill_time,
        a.bill_remark,
        a.file_path,
        b.RECEIVABLE ,
        a.funds_received,
        b.RECEIVABLE - funds_received funds_surplus,
        a.start_time,
        a.end_time,
        a.bank_num,
        a.text1,
        a.text2
        FROM
        commission a  left join BUSSINESS_RECEIVABLE b on a.CONTRACT_CODE=b.CONTRACT_CODE
        <where>
            <if test="contractCode != null  and contractCode != ''"> and a.contract_code like concat(concat('%', #{contractCode}), '%')</if>
            <if test="contractName != null  and contractName != ''"> and a.contract_name like concat(concat('%', #{contractName}), '%')</if>
            <if test="isbill != null  and isbill != ''"> and a.isbill like concat(concat('%', #{isbill}), '%')</if>
            <if test="commissionTime != null "> and a.commission_time like concat(concat('%', #{commissionTime}), '%')</if>
            <if test="billTime != null "> and a.bill_time like concat(concat('%', #{billTime}), '%')</if>
            <if test="params.beginCommissionTime != null and params.beginCommissionTime != ''">
                AND a.commission_time &gt;= to_date(#{params.beginCommissionTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endCommissionTime != null and params.endCommissionTime != ''">
                AND a.commission_time &lt;= to_date(#{params.endCommissionTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.beginBillTime != null and params.beginBillTime != ''">
                AND a.bill_time &gt;= to_date(#{params.beginBillTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
            <if test="params.endBillTime != null and params.endBillTime != ''">
                AND a.bill_time &lt;= to_date(#{params.endBillTime},'yyyy-MM-dd HH24:mi:ss')
            </if>
        </where>
        order by a.create_time desc
    </select>
    
    <select id="selectCommissionById" parameterType="Long" resultMap="CommissionResult">
        <include refid="selectCommissionVo"/>
        where commission_id = #{commissionId}
    </select>

    <select id="selectCommissionByCode" parameterType="String" resultMap="CommissionResult">
        <include refid="selectCommissionVo"/>
        where CONTRACT_CODE = #{contractCode}
    </select>

    <insert id="insertCommission" parameterType="Commission">
        <selectKey keyProperty="commissionId" order="BEFORE" resultType="Long">
            select seq_commission.nextval as commissionId from DUAL
        </selectKey>
        insert into commission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commissionId != null and commissionId != 0">COMMISSION_ID,</if>
            <if test="contractCode != null">CONTRACT_CODE,</if>
            <if test="contractName != null">CONTRACT_NAME,</if>
            <if test="isbill != null">isbill,</if>
            <if test="commissionTime != null">COMMISSION_TIME,</if>
            <if test="commissionRemark != null">COMMISSION_REMARK,</if>
            <if test="billTime != null">BILL_TIME,</if>
            <if test="billRemark != null">BILL_REMARK,</if>
            <if test="filePath != null">FILE_PATH,</if>
            <if test="receivable != null">RECEIVABLE,</if>
            <if test="fundsReceived != null">FUNDS_RECEIVED,</if>
            <if test="fundsSurplus != null">FUNDS_SURPLUS,</if>
            <if test="startTime != null">START_TIME,</if>
            <if test="endTime != null">END_TIME,</if>
            <if test="bankNum != null">BANK_NUM,</if>
            <if test="text1 != null">TEXT1,</if>
            <if test="text2 != null">TEXT2,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commissionId != null">#{commissionId},</if>
            <if test="contractCode != null">#{contractCode},</if>
            <if test="contractName != null">#{contractName},</if>
            <if test="isbill != null">#{isbill},</if>
            <if test="commissionTime != null">#{commissionTime},</if>
            <if test="commissionRemark != null">#{commissionRemark},</if>
            <if test="billTime != null">#{billTime},</if>
            <if test="billRemark != null">#{billRemark},</if>
            <if test="filePath != null">#{filePath},</if>
            <if test="receivable != null">#{receivable},</if>
            <if test="fundsReceived != null">#{fundsReceived},</if>
            <if test="fundsSurplus != null">#{fundsSurplus},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="bankNum != null">#{bankNum},</if>
            <if test="text1 != null">#{text1},</if>
            <if test="text2 != null">#{text2},</if>
            sysdate
        </trim>
    </insert>

    <update id="updateCommission" parameterType="Commission">
        update commission
        <trim prefix="SET" suffixOverrides=",">
            <if test="contractCode != null">CONTRACT_CODE = #{contractCode},</if>
            <if test="contractName != null">CONTRACT_NAME = #{contractName},</if>
            <if test="isbill != null">ISBILL = #{isbill},</if>
            <if test="commissionTime != null">COMMISSION_TIME = #{commissionTime},</if>
            <if test="commissionRemark != null">COMMISSION_REMARK = #{commissionRemark},</if>
            <if test="billTime != null">BILL_TIME = #{billTime},</if>
            <if test="billRemark != null">BILL_REMARK = #{billRemark},</if>
            <if test="filePath != null">FILE_PATH = #{filePath},</if>
            <if test="receivable != null">RECEIVABLE = #{receivable},</if>
            <if test="fundsReceived != null">FUNDS_RECEIVED = #{fundsReceived},</if>
            <if test="fundsSurplus != null">FUNDS_SURPLUS = #{fundsSurplus},</if>
            <if test="startTime != null">START_TIME = #{startTime},</if>
            <if test="endTime != null">END_TIME = #{endTime},</if>
            <if test="bankNum != null">BANK_NUM = #{bankNum},</if>
            <if test="text1 != null">TEXT1 = #{text1},</if>
            <if test="text2 != null">TEXT2 = #{text2},</if>
        </trim>
        where COMMISSION_ID = #{commissionId}
    </update>

    <delete id="deleteCommissionById" parameterType="Long">
        delete from commission where COMMISSION_ID = #{commissionId}
    </delete>

    <delete id="deleteCommissionByCode" parameterType="String">
        delete from commission where CONTRACT_CODE = #{contractCode}
    </delete>

    <delete id="deleteCommissionByIds" parameterType="String">
        delete from commission where COMMISSION_ID in
        <foreach item="commissionId" collection="array" open="(" separator="," close=")">
            #{commissionId}
        </foreach>
    </delete>

</mapper>