<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('手续费发票详情')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
<!--            <div class="col-sm-12 search-collapse">-->
<!--                <form id="formId">-->
<!--                    <div class="select-list">-->
<!--                        <ul>-->
<!--                            <li>-->
<!--                                <label>项目编号：</label>-->
<!--                                <input type="text" name="contractCode"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <label>项目名称：</label>-->
<!--                                <input type="text" name="contractName"/>-->
<!--                            </li>-->
<!--                            <li class="select-time">-->
<!--                                <label>手续费收取时间：</label>-->
<!--                                <input type="text" class="time-input" id="beginCommissionTime" placeholder="开始时间" name="params[beginCommissionTime]"/>-->
<!--                                <span>-</span>-->
<!--                                <input type="text" class="time-input" id="endCommissionTime" placeholder="结束时间" name="params[endCommissionTime]"/>-->
<!--                            </li>-->
<!--                            <li class="select-time">-->
<!--                                <label>手续费发票时间：</label>-->
<!--                                <input type="text" class="time-input" id="beginBillTime" placeholder="开始时间" name="params[beginBillTime]"/>-->
<!--                                <span>-</span>-->
<!--                                <input type="text" class="time-input" id="endBillTime" placeholder="结束时间" name="params[endBillTime]"/>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>-->
<!--                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>-->
<!--                            </li>-->
<!--                        </ul>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

<!--            <div class="btn-group-sm" id="toolbar" role="group">-->
<!--&lt;!&ndash;                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:commission:add">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="fa fa-plus"></i> 添加&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:commission:edit">-->
<!--                    <i class="fa fa-edit"></i> 修改-->
<!--                </a>-->
<!--                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:commission:remove">-->
<!--                    <i class="fa fa-remove"></i> 删除-->
<!--                </a>-->
<!--                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:commission:export">-->
<!--                    <i class="fa fa-download"></i> 导出-->
<!--                </a>-->
<!--            </div>-->
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
            <div id="handout_wrap_inner"></div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:commission:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:commission:remove')}]];
        var ISBILL = [[${@dict.getType('sys_isbill')}]];
        var code = [[${contractCode}]];
        var prefix = ctx + "system/commission";

        $(function() {
            var options = {
                url: prefix + "/infoList/"+code,
            //    createUrl: prefix + "/add",
                 updateUrl: prefix + "/edit/{id}",
            //     removeUrl: prefix + "/remove",
            //     exportUrl: prefix + "/export",
                modalName: "手续费发票详情",
                columns: [{
                    checkbox: true
                },
                {
                    field: 'commissionId',
                    title: '手续费ID',
                    visible: false
                },
                {
                    field: 'contractCode',
                    title: '项目编号'
                },
                {
                    field: 'contractName',
                    title: '项目名称'
                },
                {
                    field: 'isbill',
                    title: '是否有发票',
                    align: 'center',
                    formatter: function(value, row, index) {
                        return $.table.selectDictLabel(ISBILL, value);
                    }
                },
                {
                    field: 'commissionTime',
                    title: '手续费收取时间',
                    align: 'center'
                },
                {
                    field: 'commissionRemark',
                    title: '手续费收取备注'
                },
                {
                    field: 'billTime',
                    title: '手续费发票时间',
                    align: 'center'
                },
                {
                    field: 'billRemark',
                    title: '手续费发票备注'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.commissionId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.commissionId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        var more = [];
                        more.push("<a class='btn btn-default btn-xs " + editFlag + "' href='javascript:void(0)' onclick='getCommissionPDF(" + row.commissionId + ")' ><i class='fa fa-file-pdf-o'></i>预览</a> ");
                        more.push("<a class='btn btn-default btn-xs ' href='javascript:void(0)' onclick='downloadFile(" + row.commissionId + ")'><i class='fa fa-download'></i>下载</a>");
                        actions.push('<a tabindex="0" class="btn btn-info btn-xs" role="button" data-container="body" data-placement="left" data-toggle="popover" data-html="true" data-trigger="hover" data-content="' + more.join('') + '"><i class="fa fa-chevron-circle-right"></i>更多操作</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });

        /* 发票下载 */
        function downloadFile(value){
            window.location.href = ctx + "system/commission/download/commission?commissionId=" + value;
        }
        /* 发票PDF预览 */
        function getCommissionPDF(value) {
            var commissionId=value;
            var url = prefix + '/commissionPDF/' + commissionId;
            $.modal.open("发票PDF预览", url);
        }
    </script>
</body>
</html>